.hero_section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100dvh;
}

.diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100dvh;
  background: var(--main-primary-color);
  clip-path: polygon(0 0, 47% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.hero {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 95%;
  height: 90dvh;
  margin: 0 auto;
  gap: 10%;
}

.hero_img {
  width: 450px;
  height: 100%;
  border-radius: 10px;
}

.hero_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* .hero_texts {
  flex-basis: 60%;
} */

.hero_texts .text {
  position: relative;
  left: 70px;
}

.hero_texts h1 {
  position: relative;
  font-size: 45px;
  color: var(--main-primary-color);
  text-transform: uppercase;
  font-weight: 800;
}

.hero_texts h1::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 5px;
  background: var(--main-primary-color);
  border-radius: 20px;
}

.hero_texts p {
  max-width: 550px;
  line-height: 2;
  margin: 30px 0;
}

.hero_texts .text span {
  font-size: 47px;
  text-transform: uppercase;
  font-weight: 800;
}

.hero_texts#light .text span {
  opacity: 0.6;
}

.hero_texts#light p {
  opacity: 0.6;
}

.hero_texts#light a {
  color: rgba(0, 0, 0, 0.6);
}

.hero_texts a {
  width: 230px;
  height: 55px;
  border: 1px solid var(--main-primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50px;
  color: var(--bs-light);
  overflow: hidden;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
}

.hero_texts a span:nth-child(1) {
  position: relative;
  left: -20px;
}

.hero_texts a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 100%;
  border-radius: 50%;
  background: var(--main-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: -1;
  font-size: 33px;
  color: var(--bs-light);
}

.hero_texts a:hover span:nth-child(2) {
  width: 100%;
  border-radius: 0;
  justify-content: right;
  padding-right: 13px;
}

.hero_texts a:hover span:nth-child(1) {
  color: var(--bs-light);
}

/* ----------------------- MEDIA QURIES ------------------ */

@media (max-width: 1305px) {
  .hero {
    gap: 5%;
  }

  .hero_texts h1 {
    font-size: 37px;
  }

  .hero_texts .text span {
    font-size: 37px;
  }

  .hero_texts p {
    max-width: 500px;
  }
}

@media (max-width: 1120px) {
  .hero_img {
    width: 350px;
  }

  .hero h1::before {
    display: none;
  }

  .hero_texts .text {
    left: 0;
  }
}

@media (max-width: 999px) {
  .hero {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .hero_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid var(--anchor-bg-dark);
  }

  .hero_img.light {
    border-color: var(--anchor-bg-light);
  }

  .hero_img img {
    border-radius: 50%;
  }

  .hero_texts {
    text-align: center;
  }

  .hero_texts a {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .hero_texts p {
    max-width: 550px;
  }

  .diagonal {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero_texts h1 {
    font-size: 30px;
  }

  .hero_texts .text span {
    font-size: 30px;
  }
}
