.modes {
  position: fixed;
  top: 5%;
  right: 2%;
  transform: translate(-2%, -5%);
  z-index: 100;
}

.modes button {
  font-size: 27px;
  color: var(--bs-light);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--toggle-bg-dark);
  border: none;
  outline: none;
  transition: 0.3s;
}

.modes.light button:hover {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.modes.dark button:hover {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.modes.light button {
  color: var(--toggle-text-light);
  background: var(--toggle-bg-light);
}

.modes.dark button {
  background: var(--toggle-bg-dark);
  color: var(--bs-light);
}

.modes button.md-dark {
  font-size: 30px;
}

/* --------------------- MEDIA QURIES ---------------- */
@media (max-width: 999px) {
  .modes {
    top: 15%;
  }
}
