.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-weight: 900;
}

.title h1 {
  font-size: 55px;
  transition: 0.3s;
}

.title.light h1 span:nth-child(1) {
  color: var(--anchor-text-light);
}

.title.dark h1 span:nth-child(1) {
  color: var(--bs-light);
}

.title h1 span:nth-child(2) {
  color: var(--main-primary-color);
}

.title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 120px;
  transition: 0.3s;
}

.title.light h2 {
  color: var(--anchor-bg-light);
}

.title.dark h2 {
  color: rgba(255, 255, 255, 0.1);
}

/* ---------------------------- MEDIA QURIES ---------------------- */
@media (max-width: 576px) {
  .title {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(37 37 37/1);
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 100px;
    z-index: 99;
  }

  .title h1 {
    font-size: 21px;
  }

  .title h2 {
    display: none;
  }
}
