.header_header {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
  z-index: 100;
  transition: 0.5s;
}

.header_ul a {
  list-style: none;
  position: relative;
  margin: 30px 0;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--anchor-bg-dark);
  border: none;
  outline: none;
  transition: 1s;
  text-decoration: none;
}

.header_ul a .title_link {
  display: none;
  font-weight: 400;
}

.header_ul a:hover {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.header_ul a.active {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.header_ul#light a {
  background: var(--anchor-bg-light);
  color: var(--anchor-text-light);
}

.header_ul#light a:hover {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.header_ul#light a.active {
  background: var(--main-primary-color);
  color: var(--bs-light);
}

.aside {
  position: fixed;
  top: 5%;
  right: 3%;
  transform: translate(-2%, -5%);
  z-index: 100;
  display: none;
}

.aside button {
  font-size: 27px;
  color: var(--bs-light);
  width: 45px;
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--toggle-bg-dark);
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

/* --------------------- MEDIA QURIES ---------------- */

@media (max-width: 999px) {
  .header_header {
    position: fixed;
    top: 0;
    background: var(--anchor-bg-dark);
    left: -999px;
    right: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100dvh;
  }

  .header_ul a {
    width: 100%;
    height: 0;
    background: transparent;
    border-radius: 0;
    justify-content: left;
    gap: 10px;
    font-size: 23px;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header_ul a:hover {
    background: transparent;
  }

  .header_ul a .title_link {
    display: block;
  }

  .header_ul a.active {
    background: transparent;
    color: var(--main-primary-color);
  }

  .header_ul {
    position: relative;
    top: 60px;
  }

  .header_ul#light a {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
  }

  .header_ul#light a.active {
    background: transparent;
    color: var(--main-primary-color);
  }

  .header_ul#light a:hover {
    background: transparent;
    color: var(--main-primary-color);
  }

  .aside {
    display: block;
  }

  .header_header.open {
    left: 0;
  }
}
